# General

USER="joel"
NETWORK_NAME=miranda_api_dev_network

# Sql server related
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD="brughIDontKnow#1"
DB_DIR_PATH="./db_datas"

# main db related
MAIN_DB_DIR_PATH="./db_datas"
MAIN_DB_USER=jessica
MAIN_DB_PASSWORD="welcommme!"
MAIN_DB_NAME=blog_db
MAIN_DB_EXPOSED_DEV_PORT=5432 # Not to be used in prod pleaaaase hahaha

## homecare_backend related
BACKEND_RELATIVE_DIR="./"
BACKEND_API_PORT=8080 # main backend api port
BACKEND_APP_DB_USER=monsieurbob # main db access
BACKEND_APP_DB_PASSWORD=oook_kk_ok_ok_o # main db access
BACKEND_APP_DB_HOSTNAME="${MAIN_DB_NAME}" # db hostname in docker network
BACKEND_APP_DB_PORT=5432 # port used to acces to db
ALLOWED_ORIGINS_START_BY=http

## homecare_frontend related:
FRONTEND_PORT=5173
FRONTEND_RELATIVE_DIR=./homecare_frontend
FRONTEND_APP_BACKEND_API="http://localhost:${BACKEND_API_PORT}"

## SAM service
SAM_API_PORT=8010
SAM_MYSQL_PORT=3307
SAM_MYSQL_ROOT_PASSWORD=yesOrno
SAM_MYSQL_DATABASE=sam_db
SAM_MYSQL_USER=thisisapiuser
SAM_MYSQL_PASSWORD=apthisisiuserPassword
DATABASE_URL=mysql+pymysql://${SAM_MYSQL_USER}:${SAM_MYSQL_PASSWORD}@sam_db:3306/${SAM_MYSQL_DATABASE}?charset=utf8mb4
SAM_API_RELATIVE_DIR=./simple_auth_module

## static pages ( html, css & js)

STATIC_PAGES_RELATIVE_DIR=./static_pages

## cloudflare (tunel sortant)

CLOUDFLARE_TOKEN=changeThishha